*{
  margin: 5;
  padding: 20;
}
body {
  font-family: 'Poppins', sans-serif;
}
.cabecalho {
  background-color: #8500b9;
  color: white;
  display: flex;
  align-items: baseline;
 ;
}

.cabecalho-imagem{
  width: 5%;
  
}

.cabecalho-lista-item{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 24px 0;
    margin: 0 160px;
    font-size: 16px;
   
  }

.escola-imagem{
  width: 25%;
}

.Loja {
  background-image: linear-gradient(#9700dd,#8f37e2);
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}

.loja-div-conteudo{
  width: 35%;
}


.loja-titulo{
  padding: 24px 0;
}

.estudante{
  padding: 24px 0;
}
.roupa-imagem{
  width: 120px;
}

.button-icone{
border: 2px solid black;
margin:  20px 40px;
padding: 10px 20px;

border-radius: 500px;

background-color: white;
color: black;
font-weight: 700px;
}
.button-icone:hover {
cursor: pointer;
}

.produtos-div{
  text-align: center;
  padding: 16px 0;
 
}

.conteudo-titulo{
  text-align: center;
  padding: 50px 0;
}

.estudante-todos{
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
}

.rodape{
  background-color: black;
  text-align: center;
}

.rodape-imagem{
  height: 60px;
  padding: 12px 0;
 }

 
.barra-pesquisa{
 display: flex;
 justify-content: center;
background-color: #fefefe;
padding: 10%;
border-radius: 32px;
box-shadow: rgba(100, 100, 111, 0.2) 0 7px 2px 0px;
}

 .barra-pesquisa input {
 border: 0;
background-color: transparent;
font-size: 16px;
width: 0;
transition: 0.8s;
 }

 .barra-pesquisa:hover input {
width: 200px;
} 

 .barra-pesquisa button {
  padding: 10px;
  border: 0;
  background-color: #3c1053;
  color: #fff;
  font-size: 16px;
  border-radius: 50%;
  cursor: pointer;
 }


 



