header{
    background-color: #140343bd;
    color: rgb(255, 255, 255);
}
.roupa1 {
    width: 40%; ;
    align-items:  center;
    margin-left: 450px;
  height: 39%; ;;  
  
}
body{
 background-color: #2b0790bd;
}

.icones {
  width: 120px;
 padding: 10px;
 align-items: 10px;
 height: 100px; ;;  
margin-left: 10%;
}

body {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
.KTX  {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.titulo { 
  text-align: center;
  margin-left: 25px;
}
