header{
    background-color: #140343bd;
    color: rgb(255, 255, 255);
}
.roupa1 {
    width: 40%; ;
    align-items:   last baseline;
    margin-left: 450px;
  height: 39%; ;;  
  
}
body{
 background-color: #2b0790bd;

}

 